.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-img {
  width: 75px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 30px 20px;
}
.profile-details {
  background-color: var(--blue);
  border-radius: 20px;
  width: 100%;
  height: 10%;
}
.report-text {
  color: #988ffb;
  margin-left: 20px;
  font-size: 0.8rem;
}
.profile-name {
  color: #fff;
  font-size: 1.5rem;
  margin: 10px 20px 50px 20px;
}
.profile-options {
  margin: 20px 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.profile-options li {
  margin: 10px 20px;
  padding: 0 10px;
  cursor: pointer;
}
.profile-options .active{
  color: #fff;
}
.profile-options .inactive{
  color: var(--blue);
}
.profile-options li:hover{
  transform: scale(1.05);
  color: #fff;
}

@media (max-width: 768px) {
  .profile-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .profile-details {
    display: flex;
    justify-content: center;
  }
  .profile-img {
    width: auto * 0.5;
    height: auto * 0.5;
  }
  .profile-content {
    align-self: flex-end;
  }
}
@media (max-width: 500px) {
  .report-text {
    font-size: 3vw;
  }
  .profile-name {
    font-size: 4vw;
  }
} ;
