@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --blue: hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --failure-color: #d8534f;
  --social: hsl(264, 64%, 52%);
  --selfcare: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--very-dark-blue);
}
.App {
  width: 80vw;
  height: 50vh;
  margin: 25vh auto;
}
.profile {
  background-color: var(--dark-blue);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 20px;
}
.profile {
  grid-row: 1 / span 2;
}

.card {
  border-radius: 20px;
}
.work {
  background: url(./assets/images/icon-work.svg) no-repeat right 10px top -12px,
    var(--work);
}
.play {
  background: url(./assets/images/icon-play.svg) no-repeat right 10px top -12px,
    var(--play);
}
.study {
  background: url(./assets/images/icon-study.svg) no-repeat right 10px top -12px,
    var(--study);
}
.exercise {
  background: url(./assets/images/icon-exercise.svg) no-repeat right 10px top -12px,
    var(--exercise);
}
.social {
  background: url(./assets/images/icon-social.svg) no-repeat right 10px top -12px,
    var(--social);
}
.self-care {
  background: url(./assets/images/icon-self-care.svg) no-repeat right 10px top -12px,
    var(--selfcare);
}
